@import '../variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15%;
    width: 100%;
    height: 5.5rem;
    font-size: 1.5rem;
    background-color: $white-biscuit;

    position: fixed;
    top: 0;
    z-index: 10;

    backdrop-filter: blur(8px);
    box-shadow: $header-shadow;
    border-radius: 0 0 10px 10px;
}

.headerIcons {
    display: flex;
    flex-direction: row;
    gap: 30%;
}

.icon {
    min-width: 35px;

    // Firefox
    width: 35px;
}

