@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  min-width: 360px;
  scroll-behavior: smooth;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

#center{
  display: flex;
  justify-content: center;
  place-items: center;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}